// Typography
@import url('http://cloud.typography.com/7908354/734746/css/fonts.css');


// Styles related to the general (global) format of pages

html {
	font-size: 62.5%;
}

body {
	font-family: $base-font;
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-weight: 400;
	font-style: normal;
	color: $paleblack-base;
}

a {
	text-decoration: none;
	color: inherit;
}

#{headings()} {
	font-family: $display-font;
	font-weight: 800;
	color: $paleblack-display;
}

h1 {
	font-size: 4.8rem;
	line-height: 4.8rem;
	font-weight: 800; //Black
}

h2 {
	font-size: 3.6rem;
	line-height: 3.6rem;
	font-weight: 800; //Black
}

h3 {
	font-size: 2.4rem;
	line-height: 3.6rem;
	font-weight: 700; //Bold
}

h4 {
	font-size: 2.1rem;
	line-height: 2.4rem;
}