// --------------------------------------------------
// ---------------- SUSY SETUP ----------------------
// --------------------------------------------------
@include border-box-sizing;

// Global Settings
$susy: (
	columns: 12,
	gutters: 1/4,
	gutter-position: split
);

//====================== 12 Column GRID SYSTEM
.column {
	//color: #757575; //on
	color: rgba(255,255,255,0); //off
	text-align: center;
	position: fixed;
	//background: rgba(0,0,0,.10); //on
	background: rgba(0,0,0,0); //off
	height: 100%;
	padding-top: 65px;
}
.c1 {
	@include span(1);
}
.c2 {
	@include span(1);
	@include push(1);
}
.c3 {
	@include span(1);
	@include push(2);
}
.c4 {
	@include span(1);
	@include push(3);
}
.c5 {
	@include span(1);
	@include push(4);
}
.c6 {
	@include span(1);
	@include push(5);
}
.c7 {
	@include span(1);
	@include push(6);
}
.c8 {
	@include span(1);
	@include push(7);
}
.c9 {
	@include span(1);
	@include push(8);
}
.c10 {
	@include span(1);
	@include push(9);
}
.c11 {
	@include span(1);
	@include push(10);
}
.c12 {
	@include span(1);
	@include push(11);
}
//========================= END OF GRID SYSTEM

// --------------------------------------------------
// -------------------- GLOBAL ----------------------
// --------------------------------------------------
body {
	@include container(100%);
	max-width: 1680px}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr{
    margin-bottom: 2.4rem;}

 /*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack*/
/* For modern browsers */
.cf:before, .cf:after {
	content:"";
	display:table;
}
.cf:after {
	clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom:1;
}


// ------------------------------------------------
// -------------------- HEADER --------------------
// ------------------------------------------------
#pageHeader {
	position: fixed;
	width: 100%;
	//height: 3.6rem;
	z-index: 100;
	padding: 1.2rem;

	#logo { 
		@include span(3);
		float: left;

		.ux {
			@include breakpoint($xsmall) {
			display: none;}
		} //end of .ux
	} //end of logo

	// DESKTOP & TABLET ----------------------------

	#mainNav {
		float: right;

		.topmenu {
			margin-top: 0.5rem;
			margin-bottom: 0;

			li {
				float: left;
				position: relative;
				a { display: block;
					padding: 0 2.4rem 1.2rem 2.4rem;} } //li

			.submenu {
				float: none;
				width: auto;
				height: auto;
				position: absolute;
				z-index: 10;
				top: 3.6rem;
				left: -9000rem; // pushing it out of view to hide
				li {
					float: none;
					a { padding-top: 1.2rem;
						border-bottom: 1px solid #808080;}
					&:last-child a {border-bottom: none;}
					white-space: nowrap;}

				
				// TRYING TO ANIMATE DROPDOWN

				//max-height: 0;
				//-moz-transition: max-height 0.5s ease-in-out;
				//-webkit-transition: max-height 0.5s ease-in-out;
				//-o-transition: max-height 0.5s ease-in-out;
				//transition: max-height 0.5s ease-in-out;


			} //submenu
		} //topmenu

		// Hide on xsmall layout
		@include breakpoint($xsmall) {
			display: none;
		}

	} //mainNav


	// MOBILE -------------------------------------

	#mainNav-mobile {
		float: right;
		display: none;
		
		// Show on xsmall layout
		@include breakpoint($xsmall) {
			display: block;

			li {
				display: inline-block;
				padding-left: 1.2rem;}
			li:first-child {
				padding-left: 0;}
		} //end of breakpoint
	} //end of #mainNav-mobile


} //end of pageHeader

// ------------------------------------------------
// ------------------ Footer ----------------------
// ------------------------------------------------
#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 2.4rem;
	padding-bottom: 1.2rem;
	text-align: center;
	z-index: 100;
}


// --------------------------------------------------
// -------------- RESPONSIVE IMAGE ------------------
// --------------------------------------------------
.mini-chart {
	max-width: 100%;
	margin-left: 2%;
}
.royalSlider img {
	max-width: 100%;
}


// --------------------------------------------------
// --------------------- HIDE -----------------------
// --------------------------------------------------
.semantic-markup {
	display: none;
}
.hide-visibility {
	visibility: hidden;
}
.hide {
	display: none;
}

