// --------------------------------------------------
// ---------------- SUSY SETUP ----------------------
// --------------------------------------------------
@include border-box-sizing;

// Global Settings
$susy: (
	columns: 12,
	gutters: 1/3,
	gutter-position: split);

//====================== 12 Column GRID SYSTEM
.column {
	color: #757575;
	text-align: center;
	position: fixed;
	background: rgba(0,0,0,.10);
	//background: rgba(0,0,0,0);
	height: 100%;
	padding-top: 65px;
}
.c1 {
	@include span(1);
}
.c2 {
	@include span(1);
	@include push(1);
}
.c3 {
	@include span(1);
	@include push(2);
}
.c4 {
	@include span(1);
	@include push(3);
}
.c5 {
	@include span(1);
	@include push(4);
}
.c6 {
	@include span(1);
	@include push(5);
}
.c7 {
	@include span(1);
	@include push(6);
}
.c8 {
	@include span(1);
	@include push(7);
}
.c9 {
	@include span(1);
	@include push(8);
}
.c10 {
	@include span(1);
	@include push(9);
}
.c11 {
	@include span(1);
	@include push(10);
}
.c12 {
	@include span(1);
	@include push(11);
}
//========================= END OF GRID SYSTEM

// --------------------------------------------------
// -------------------- GLOBAL ----------------------
// --------------------------------------------------
body {
	@include container(100%);
	max-width: 1680px}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr{
    margin-bottom: 2.4rem;}

 /*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack*/
/* For modern browsers */
.cf:before, .cf:after {
	content:"";
	display:table;
}
.cf:after {
	clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom:1;
}


// ------------------------------------------------
// -------------------- HEADER --------------------
// ------------------------------------------------
#pageHeader {
	position: fixed;
	width: 100%;
	//height: 3.6rem;
	z-index: 100;
	padding: 1.2rem;

	#logo { 
		float: left;
		.ux {
			@include breakpoint($xsmall) {
			display: none;}
		} //end of .ux
	} //end of logo

	// DESKTOP & TABLET ----------------------------

	#mainNav {
		float: right;

		.topmenu {
			margin-bottom: 0;

			li {
				float: left;
				position: relative;
				a { display: block;
					padding: 0 2.4rem 1.2rem 2.4rem;} } //li

			.submenu {
				float: none;
				width: auto;
				height: auto;
				position: absolute;
				z-index: 10;
				top: 3.6rem;
				left: -9000rem; // pushing it out of view to hide
				li {
					float: none;
					a { padding-top: 1.2rem;
						border-bottom: 1px solid #808080;}
					&:last-child a {border-bottom: none;}
					white-space: nowrap;}

				
				// TRYING TO ANIMATE DROPDOWN

				//max-height: 0;
				//-moz-transition: max-height 0.5s ease-in-out;
				//-webkit-transition: max-height 0.5s ease-in-out;
				//-o-transition: max-height 0.5s ease-in-out;
				//transition: max-height 0.5s ease-in-out;


			} //submenu
		} //topmenu

		// Hide on xsmall layout
		@include breakpoint($xsmall) {
			display: none;
		}

	} //mainNav


	// MOBILE -------------------------------------

	#mainNav-mobile {
		float: right;
		display: none;
		
		// Show on xsmall layout
		@include breakpoint($xsmall) {
			display: block;

			li {
				display: inline-block;
				padding-left: 1.2rem;}
			li:first-child {
				padding-left: 0;}
		} //end of breakpoint
	} //end of #mainNav-mobile


} //end of pageHeader

// ------------------------------------------------
// ------------------ Footer ----------------------
// ------------------------------------------------
#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 2.4rem;
	padding-bottom: 1.2rem;
	text-align: center;
	z-index: 100;
}


// --------------------------------------------------
// -------------- Skills Page 1 ---------------------
// --------------------------------------------------
.designProcess {

	#designProcessPageTitle {
		// LARGE LAYOUT *************
		@include full;
		text-align: center;
		margin-top: 10.8rem;
		margin-bottom: 13.2rem;

		// MEDIUM LAYOUT ************
		@include breakpoint($medium) {
			margin-top: 12.0rem;
		}

		// SMALL LAYOUT *************
		@include breakpoint($small) {
			margin-bottom: 10.8rem;
		}

		// XSMALL LAYOUT ************
		@include breakpoint($xsmall) {
			font-size: 2.8rem;
		}

	}//#designProcessPageTitle

	figure {
		// LARGE LAYOUT *************
		@include span(10);
		@include push(1);
		img { max-width: 100%;}
		svg { max-width: 100%;}
	}//figure

}

.shorter-margin {
	margin-bottom: 4.8rem !important;
}


// --------------------------------------------------
// ----------- Skills Page 2 - 6 --------------------
// --------------------------------------------------
#timeline {
	@include span(1);
	height: 100%;

	// XSMALL LAYOUT ************
	@include breakpoint($xsmall) {
		display: none;
	}
}
#skillsPageTitle {
	// LARGE LAYOUT *************
	@include span(11);
	margin-top: 6.0rem;
	margin-bottom: 3.6rem;

	// MEDIUM LAYOUT ************
	@include breakpoint($medium) {
		@include span(11);
		font-size: 4.0rem;
		margin-top: 8.4rem;
		margin-bottom: 3.6rem;
	}

	// SMALL LAYOUT *************
	@include breakpoint($small) {
		img { display: none; }
		margin-top: 9.6rem;

	}

	// XSMALL LAYOUT ************
	@include breakpoint($xsmall) {
		font-size: 2.8rem;
		line-height: 4.2rem;
		margin-bottom: 1.2rem;
		margin-left: 1.2rem;
	}
	span {
		@include breakpoint($small) {
			font-size: 2.8rem;}
	}

}
.frontendProgramming #skillsPageTitle {
	// SMALL LAYOUT *************
	@include breakpoint($small) {
		margin-top: 8.4rem;
	}
}
#skills1, #skills2, #skills3, #skills4, #skills5, #skills6 {
	// LARGE LAYOUT *************
	@include span(4);
	p { margin-bottom: 6.0rem;
		margin-bottom: 2.4rem; }

	// MEDIUM LAYOUT ************
	@include breakpoint($medium) {
		@include span(10);
		p { margin-bottom: 3.6rem; }
		.skills-list { display: none; }
	}

	// XSMALL LAYOUT ************
	@include breakpoint($xsmall) {
		margin-left: 1.2rem;
		p {
			margin-bottom: 1.2rem;
			font-size: 1.4rem;
			line-height: 2.1rem;}
	}

}
#workSample1, #workSample2, #workSample3, #workSample4, #workSample5, #workSample6 {
	// LARGE LAYOUT *************
	@include span(6);
	margin-left: 30px;

	#slider1, #slider2, #slider3, #slider4, #slider5, #slider6 {
		margin-top: 0.6rem;
		height: auto;
		width: auto; }

	// MEDIUM LAYOUT ************
	@include breakpoint($medium){
		@include span(10);
	}

	// XSMALL LAYOUT ************
	@include breakpoint($xsmall) {
		display: none;
	}

}
.frontendProgramming h1 {
	padding-top: 0.8rem;
}


// --------------------------------------------------
// -------------------- ABOUT -----------------------
// --------------------------------------------------

#aboutPageTitle {
	// LARGE LAYOUT ************
	@include full;
	text-align: center;
	margin-top: 10.8rem;
	margin-bottom: 9.6rem;

	// MEDIUM LAYOUT ************
	@include breakpoint($medium) {
		margin-top: 12.0rem;
		margin-bottom: 6.0rem;
	}

	// XSMALL LAYOUT ************
	@include breakpoint($xsmall) {
		font-size: 2.8rem;
		line-height: 4.2rem;
		margin-bottom: 2.4rem;
	}

}
#aboutPageContent figure {
	// LARGE LAYOUT ************
	@include span(3);
	@include push(2);
	img { max-width: 100%; }

	// MEDIUM LAYOUT ************
	@include breakpoint($medium) {
		@include span(4);
		@include push(4);
	}

	// XSMALL LAYOUT ************
	@include breakpoint($xsmall) {
		@include span(6);
		@include push(3);
	}

}
#aboutPageContent section {
	// Pulling up to align with image top
	position: relative;
	top: -5px;

	// LARGE LAYOUT ************
	@include span(5);
	text-align: left;
	p:last-child {
		margin-bottom: 8.4rem;
	}

	// MEDIUM LAYOUT ************
	@include breakpoint($medium) {
		@include span(8);
		@include push(2);
	}

	// XSMALL LAYOUT ************
	@include breakpoint($xsmall) {
		@include span(10);
		@include push(1);
		p {
			margin-bottom: 1.2rem;
			font-size: 1.4rem;
			line-height: 2.1rem;}
	}

}


// --------------------------------------------------
// ------------------ CONNECT -----------------------
// --------------------------------------------------
#connectPageTitle {
	// LARGE LAYOUT ************
	@include full;
	text-align: center;
	margin-top: 10.8rem;
	margin-bottom: 9.6rem;

	// MEDIUM LAYOUT ************
	@include breakpoint($medium) {
		margin-top: 12.0rem;
		margin-bottom: 6.0rem;
	}

	// XSMALL LAYOUT ************
	@include breakpoint($xsmall) {
		font-size: 2.8rem;
		line-height: 4.2rem;
		margin-bottom: 2.4rem;
	}

}
#connectPageContent section {
	// LARGE LAYOUT ************
	@include span(6);
	@include push(3);
	figure {
		margin-bottom: 8.4rem;
	}

	// MEDIUM LAYOUT ************
	@include breakpoint($medium) {
		@include span(8);
		@include push(2);
	}

	// XSMALL LAYOUT ************
	@include breakpoint($xsmall) {
		@include span(10);
		@include push(1);
		p {
			margin-bottom: 1.2rem;
			font-size: 1.4rem;
			line-height: 2.1rem;}
	}

}
.google-maps {
	margin-top: 3.6rem;
    position: relative;
    padding-bottom: 90%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    //height: 100% !important;
}


// --------------------------------------------------
// -------------- RESPONSIVE IMAGE ------------------
// --------------------------------------------------
.mini-chart {
	max-width: 100%;
	margin-left: 2%;
}
.royalSlider img {
	max-width: 100%;
}


// --------------------------------------------------
// --------------------- HIDE -----------------------
// --------------------------------------------------
.semantic-markup {
	display: none;
}
.hide-visibility {
	visibility: hidden;
}
.hide {
	display: none;
}

