// ------------------------------------------------
// ------------------- Skills 1 -------------------
// ------------------------------------------------
#designProcessPageTitle {
	font-size: 4.8rem;
	line-height: 4.8rem;
}


// ------------------------------------------------
// ----------------- Skills 2 - 6 -----------------
// ------------------------------------------------

// Background Colors -----------------------------

.designProcess {
	background-color: $background-yellow;
}
.productDefinition {
	background-color: $background-grapefruit;
}
.researchAnalysis {
	background-color: $background-mint;
}
.interactionDesign {
	background-color: $background-honey;
}
.wireframePrototype {
	background-color: $background-salmon;
}
.usabilityEvaluation {
	background-color: $background-melon;
}
.frontendProgramming {
	background-color: $background-aqua;
}
.about {
	background-color: $background-yellow;
}
.connect {
	background-color: $background-yellow;
}


#skills1 ul, #skills2 ul, #skills3 ul, #skills4 ul, #skills5 ul, #skills6 ul {
	list-style-type: square;
}

#workSample {
	div {
		@include border-radius(4px, 4px);
	}
	img {
		@include border-radius(1px, 1px);
	}
}

.frontendProgramming {
	h1 {
		span {
			font-size: 3.6rem;
			font-weight: 300;}
	}
}