@import "compass";
@import "compass/reset";
@import "susy";
@import "breakpoint";


@import "variables";
@import "mixins";
@import "base";
@import "layout";
@import "layout_skills";
@import "layout_about";
@import "layout_contact";
@import "styles_splash";
@import "styles_about";
@import "styles_skills";
@import "styles_contact";
@import "modules";

// ------------------------------------------------
// ---------------- TYPOGRAPHY --------------------
// ------------------------------------------------
.large-p {
	font-size: 1.8rem;
	line-height: 2.7rem;
}

// Links ----------------------------------------
.link {
	color: $link;
}
.link:hover {
	color: $link-hover;
	transition: color 0.5s ease-in-out;
}

.svg-font {
	font-family: $base-font;
	font-weight: 500;
}


// ------------------------------------------------
// -------------------- HEADER --------------------
// ------------------------------------------------
#logo {
	font-weight: 500; //Medium
	text-transform: uppercase;
	.ux {
		text-transform: none;
		font-weight: 200;} //ExtraLight
	a .a, a .n, a .d, a .r, a .e, a .w, a .h-1, a .h-2 {
		-moz-transition: color 0.3s ease-in-out;
		-webkit-transition: color 0.3s ease-in-out;
		transition: color 0.3s ease-in-out;}

	@include breakpoint($xsmall) {
		font-size: 1.2rem;
	}

}
// Change Color on Hover
#logo a:hover .a {
	color: darken($grapefruit, 7%);
}
#logo a:hover .n {
	color: darken($melon, 10%);
}
#logo a:hover .d {
	color: darken($honey, 20%);
}
#logo a:hover .r {
	color: darken($orange, 10%);
}
#logo a:hover .e {
	color: darken($mint, 10%);
}
#logo a:hover .w {
	color: darken($background-aqua, 10%);
}
#logo a:hover .h-1 {
	color: darken($melon, 10%);
}
#logo a:hover .h-2 {
	color: darken($honey, 20%);
}

// ------------------ Main Nav -------------------
// Active Page and Hover Behavior
.current {
    box-shadow: 0px -2px 0px $paleblack-base inset;
}

// Not-active Page Menu Behavior on Hover
// credit: https://github.com/IanLunn/Hover
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $paleblack-base;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/* THIS IS OLD CODE for reference
.hover {
	border-bottom: 2px solid rgba(8,4,1,0);
	-moz-transition: border-bottom 0.5s ease-in-out;
	-webkit-transition: border-bottom 0.5s ease-in-out;
	transition: border-bottom 0.5s ease-in-out;
}
.hover:hover {
	border-bottom: 2px solid rgba(8,4,1,.87);
}
*/

#mainNav-mobile {
	a {
		font-size: 1.2rem;
	}
}


// ----------------- Sub Menu --------------------
// Dropdown on hover
.topmenu li:hover ul {
	left: 0 !important;
}
// Submenu initial background color
.submenu li { 
	//background: lighten($background-yellow, 4%);
	background: darken($background-white, 2%);
}

// Submenu background change on hover with transition
.dp-two a, .dp-three a, .dp-four a, .dp-five a, .dp-six a, .dp-seven a {
	-moz-transition: background-color 0.15s ease-in-out;
	-webkit-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
}
.dp-two a:hover {
	background: $grapefruit;
}
.dp-three a:hover {
	background: $melon;
}
.dp-four a:hover {
	background: $honey;
}
.dp-five a:hover {
	background: $orange;
}
.dp-six a:hover {
	background: $mint;
}
.dp-seven a:hover {
	background: $background-aqua;
}


// ------------------------------------------------
// ------------------ Footer ----------------------
// ------------------------------------------------
#footer {
	background: rgba(255,255,255,0.1);
}
.footer-style {
	font-size: 1.2rem;
	font-weight: 400;
}


