@import "compass";
@import "compass/reset";
@import "susy";
@import "breakpoint";


@import "variables";
@import "mixins";
@import "base";
@import "layout";
@import "layout_about";
@import "layout_work";
@import "layout_contact";
@import "styles_about";
@import "styles_work";
@import "styles_contact";
@import "modules";

// ------------------------------------------------
// ---------------- TYPOGRAPHY --------------------
// ------------------------------------------------

.large-p {
	font-size: 1.8rem;
	line-height: 2.4rem;
}


// Links ----------------------------------------
.link {
	color: $primary-color;
}
.link:hover {
	color: $link-hover;
	transition: color 0.5s ease-in-out;
}

.svg-font {
	font-family: $base-font;
	font-weight: 500;
}


// ------------------------------------------------
// -------------------- HEADER --------------------
// ------------------------------------------------
#logo {

	@include breakpoint($xsmall) {
		// display just logo
		font-size: 1.2rem;
	}

}
// Change Logo Color on Hover


// ------------------ Main Nav -------------------
// Active Page and Hover Behavior
.current {
    box-shadow: 0px -2px 0px $paleblack-base inset;
}

.mobile-current {
	color: $primary-color;
}

// Not-active Page Menu Behavior on Hover
// credit: https://github.com/IanLunn/Hover
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $paleblack-base;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

#mainNav-mobile {
	a {
		font-size: 1.2rem;
	}
}


// ----------------- Sub Menu --------------------
// Dropdown on hover
.topmenu li:hover ul {
	left: 0 !important;
}



// ------------------------------------------------
// ------------------ Footer ----------------------
// ------------------------------------------------
#footer {
	background: rgba(255,255,255,0.1);
}
.footer-style {
	font-size: 1.2rem;
	font-weight: 400;
}


